/* Placeholder font CSS file */
/* In a real implementation, this would reference actual font files */

@font-face {
  font-family: 'BookFont';
  src: url('./fonts/book-font.woff2') format('woff2'),
       url('./fonts/book-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BookFont';
  src: url('./fonts/book-font-bold.woff2') format('woff2'),
       url('./fonts/book-font-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BookFont';
  src: url('./fonts/book-font-italic.woff2') format('woff2'),
       url('./fonts/book-font-italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}